.categories-package {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 24px;
}

.package {
  background-color: var(--background-secundary-color);
  text-align: center;
  flex-flow: column nowrap;
  width: 327px;
  height: 220px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.package a img {
  display: block;
  margin: auto;
  height: 80px;
}

.package h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .categories-package {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .package {
    width: 480px;
  }
}

@media screen and (min-width: 1440px) {
  .package {
    width: 280px;
  }
}
