.destinations .section-title h2{
    font-size: 32px;
    padding: 88px 30px 0;
}
.categories .section-title h2{
    font-size: 32px;
}

.populares-destinations {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 40px;
}

header .img-popular {
  width: 312px;
  height: 360px;
  background-image: url(../img-destinations/Tokyo-mobile.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 24px;
}

.item header {
  display: block;
  position: static;
  background-color: transparent;
  padding: 0;
}

.item {
  width: 312px;
  height: 754px;
  color: var(--text-primary-color);
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin-bottom: 24px;
}

.item h4 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: var(--title-weight);
}

.item footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 312px;
  height: 64px;
  border-radius: 8px;
  margin: auto;
}

.item footer a {
  font-size: 20px;
  font-weight: var(--title-weight);
  text-decoration: none;
  color: var(--text-secundary-color);
}

header .img-popular-two{
    background-image: url(../img-destinations/Osaka-mobile.jpg);
}