header {
  padding: 37px 48px;
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}

.navegation-menu {
  margin-top: 24px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked + nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    text-align: center;
    background-color: var(--background-tertiary-color);
    padding-bottom: 5px;
}

.nav-links{
 list-style: none;
}

.nav-links li a{
    color: var(--background-secundary-color);
    text-decoration: none;
}

.nav-links li{
    margin-top: 16px;
}

nav {
  display: none;
}
