header {
  padding: 37px 48px;
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navegation-menu {
  margin-top: 24px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
  display: none;
}
