.hero-image {
  height: 400px;
  width: 100%;
  background: url(../img-principal/hero-pacote-viagem.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero h2 {
  padding: 88px 24px 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.introducao-pacotes .title {
  color: var(--text-secundary-color);
  margin: 0 0 16px;
  font-size: 48px;
  font-weight: var(--title-weight);
}

.introducao-pacotes {
  width: 312px;
  height: 330px;
  position: absolute;
  z-index: 2;
  margin: auto;
}

.section-title .hr-hero {
  margin: 16px 0 32px;
}

@media screen and (min-width: 768px) {
  .hero-image {
    height: 620px;
    background: url(../img-principal/hero-pacote-viagem.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hero h2 {
    padding: 88px 60px 0;
    font-size: 32px;
    line-height: 50px;
  }

  .introducao-pacotes {
    width: 579px;
    height: 303px;
  }

  .text {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-image {
    background: url(../img-principal/hero-pacote-viagem.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (min-width: 1440px) {
  .hero-image {
    align-items: flex-start;
  }

  .introducao-pacotes {
    margin-left: 120px;
  }
}
